/* Google Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

/* give breathing space by adding letter-spacing to the text. And adding a color to standout. It's the logo */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Styling the Nav here, remove bullet using list-style-type */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* Add space out vertically under the list items */
#menu>li {
    margin-bottom: 1em;
}

/* For visual cue when a user is on a particular page, we add class to the li */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Add a Navbar styles with dropdown toggle here */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
}
/* We add Navbar toggle here using the tilde pseudo class selector */
#nav-toggle:checked~nav {
    display: block;
    top: 100%;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* removing the line under the links */
header a {
    text-decoration: none;
    color: inherit;
}

/* Main content (we remove the background color here (it is replaced with an image) as we don't need it.) */
main {
    
    /* This allows main element take up any surplus space to push footer down. */
    flex: 1 0 auto;
    margin-top: 47px;
}

 /* Hero id section styles (images uses file path. remember to use cover to avoid image squash) */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}

/* initial footer deleted here, here we add the social networks selector*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* We add media query at the bottom of CSS. Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Add Header style */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
        /* Giving the Love Running Logo extra space */
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 o.5rem;
    }
        /* Push Main content down to accomodate larger header. */
    main {
        margin-top: 79px;
    }

}

/* Add Media query for large (laptops and desktops, 992px and up) here */
@media screen (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}